<!DOCTYPE html>
<html>
<head>
    {% include 'inc/head.html' %}

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body class="page_index">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P98"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="global-layout">
    {% include 'inc/header.html' %}

    <section class="kotlin-overview-section _works-on">
        <h2 class="section-header">构建用于以下平台的应用</h2>
        <div class="works-on-list">
            {%- set technologies = [
              {'target': 'JVM', 'href': '/docs/reference/server-overview.html'},
              {'target': 'Android', 'href': '/docs/reference/android-overview.html'},
              {'target': '浏览器', 'href': '/docs/reference/js-overview.html'},
              {'target': '原生', 'href': 'https://github.com/JetBrains/kotlin-native'}
            ]-%}

            {% for technology in technologies %}
                {% if(technology.href) %}
                    <a href="{{ technology.href }}" class="works-on-item">
                        <div class="works-on-icon _{{ technology['target'].lower() }}"></div>
                        <div class="works-on-text">
                            {{ technology['target'] }}<br/>&nbsp;
                        </div>
                    </a>
                {% else %}
                    <div class="works-on-item">
                        <div class="works-on-icon _{{ technology['target'].lower() }}"></div>
                        <div class="works-on-text">
                            {{ technology['target'] }}<br/>（就快好了）
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="kotlin-overview-section _features">
        <h2 class="section-header">为什么选择 Kotlin？</h2>
        <div class="section-content">
            <ul class="kotlin-features-list">
                {% for feature in features %}
                    <li class="kotlin-feature _{{ feature.id }} js-popup-open-button"
                        data-popup-id="kotlin-feature_{{ feature.id }}">
                        <div class="feature-image">
                            <div class="feature-icon _{{ feature.id }}"></div>
                        </div>
                        <h3 class="feature-title">{{ feature.title }}</h3>
                        <p class="feature-description">{{ feature.description }}</p>
                        <span class="feature-example-link">参见示例</span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% for feature in features %}
            <div class="overview-popup overview-popup_{{ feature.id }} _hidden js-popup"
                 id="kotlin-feature_{{ feature.id }}">
                <div class="popup-content">
                    {{ feature.content | safe }}
                </div>

                <div class="popup-close-button js-popup-close-button"
                     data-popup-id="kotlin-feature_{{ feature.id }}"></div>
            </div>
            <div class="overview-popup-overlay"></div>
        {% endfor %}

    </section>

    {# This fle conteins a lot of pre-formatted code. #}
    {% include 'inc/pages/index/code-examples.html' %}

    <section class="kotlin-overview-section _get-kotlin" id="get-kotlin">
        <h2 class="section-header">试用 Kotlin</h2>

        <div class="try-image"></div>
        <a href="//try.kotlinlang.org" class="try-button">在线试用</a>
        <div class="section-description">
            浏览 Kotlin 代码示例<br/>
            并直接在浏览器中解决问题
        </div>

        <div class="section-content">
            <div class="get-kotlin-options-list">
                <div class="option-item _intellij-idea">
                    <div class="option-image">
                        <div class="jetbrains-logo _logo-intellij-idea _size-2"></div>
                    </div>
                    <div class="option-title-pre-text">使用</div>
                    <h3 class="option-title">IntelliJ IDEA</h3>

                    <p class="option-description">
                        IntelliJ IDEA 社区版或 IntelliJ IDEA Ultimate 中已自带
                    </p>

                    <div class="option-link-wrap">
                        <a href="/docs/tutorials/getting-started.html"
                           class="option-link">
                            使用说明
                        </a>
                    </div>
                </div>

                <div class="option-item">
                    <div class="option-image _android-studio"></div>
                    <div class="option-title-pre-text">使用</div>
                    <h3 class="option-title">Android Studio</h3>

                    <p class="option-description">
                        <a href="https://developer.android.com/studio/preview/index.html" target="_blank">Android Studio 3.0</a> 已自带，有插件可用于早期版本
                    </p>


                    <div class="option-link-wrap">
                        <a href="/docs/tutorials/kotlin-android.html"
                           class="option-link">
                            使用说明
                        </a>
                    </div>
                </div>

                <div class="option-item">
                    <div class="option-image _eclipse"></div>
                    <div class="option-title-pre-text">使用</div>
                    <h3 class="option-title">Eclipse</h3>

                    <p class="option-description">
                        从 Eclipse Marketplace 安装插件
                    </p>

                    <div class="option-link-wrap">
                        <a href="/docs/tutorials/getting-started-eclipse.html"
                           class="option-link">
                            使用说明
                        </a>
                    </div>
                </div>

                <div class="option-item _standalone-compiler">
                    <div class="option-image _standalone-compiler"></div>
                    <div class="option-title-pre-text">独立的</div>
                    <h3 class="option-title">编译器</h3>

                    <p class="option-description">
                        使用任何编辑器，并在命令行构建
                    </p>

                    <div class="option-link-wrap">
                        <a href="/docs/tutorials/command-line.html"
                           class="option-link">下载编译器</a>
                    </div>
                </div>
            </div>
            <p class="kotlin-version">最新版本： {{ data.releases.latest.version }}</p>
        </div>
    </section>

    <section class="kotlin-overview-section _testimonials">
        <h2 class="section-header">Kotlin 用途集锦</h2>

        <div class="testimonials-layout">
            <div class="testimonials">
                {% for testimonial in data.testimonials %}
                    <div class="testimonial">
                        <h3 class="testimonial-header">{{ testimonial.company }}</h3>
                        <div class="testimonial-text">{{ testimonial.text | safe }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="kotlin-overview-section _community">
        <h2 class="section-header">保持联系</h2>
        <div class="section-content">
            <ul class="links-list">
                <li class="links-list-item">
                    <a href="http://blog.jetbrains.com/kotlin" class="link" target="_blank">
                        <span class="link-icon _blog"></span>
                        <span class="link-text">博客</span>
                    </a>
                </li>

                <li class="links-list-item">
                    <a href="community.html" class="link">
                        <span class="link-icon _forum"></span>
                        <span class="link-text">社区</span>
                    </a>
                </li>

                <li class="links-list-item">
                    <a href="{{ config.TWITTER_URL }}" class="link" target="_blank">
                        <span class="link-icon _twitter"></span>
                        <span class="link-text">Twitter</span>
                    </a>
                </li>

                <li class="links-list-item">
                    <a href="http://youtrack.jetbrains.com/issues/KT" class="link" target="_blank">
                    <span class="link-icon _issue-tracker">
                        <div class="jetbrains-logo _logo-youtrack _size-2"></div>
                    </span>
                        <span class="link-text">问题跟踪</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>

{% include 'inc/footer.html' %}

<script src="{{ url_for('static', filename='default.js') }}"></script>
<script src="{{ url_for('static', filename='common.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>
