@import "config/_font";

// Sans Serif
@import url('/assets/zh-cn/droidsansmono.css');

// Mono
@import url('/assets/zh-cn/opensans.css');

// Serif
@font-face {
    font-family: 'GraublauSans Bold';
    src: url('/assets/fonts/GraublauSans-Bold-webfont.woff');
}
@font-face {
    font-family: 'GraublauSlab Regular';
    src: url('/assets/fonts/GraublauSlab-Regular-webfont.woff');
}
@font-face {
    font-family: 'GraublauSlab Semibold';
    src: url('/assets/fonts/GraublauSlab-Semibold.woff');
}
