<footer role="contentinfo" class="global-footer">

    <div class="global-footer-terms">
        <div class="g-layout">

            <div class="terms-copyright">
                &copy; 2000&ndash;{{ year }} JetBrains. All rights reserved
            </div>

            <div class="terms-sponsor">
            Sponsored and developed by <a href="http://jetbrains.com" class="sponsor sponsor_jetbrains" target="_blank">JetBrains</a>
            由<a href="http://github.com/hltj" class="testimonial-company-link" target="_blank" rel="nofollow">灰蓝天际</a>、<a href="http://tanfujun.com" class="testimonial-company-link" target="_blank" rel="nofollow">晓_晨DEV</a> <a href="/contribute.html#中文站翻译贡献者" class="testimonial-company-link" target="_blank" rel="nofollow">等</a>译
            </div>
        </div>
    </div>

</footer>
