<header class="global-header">

    <div class="global-header-panel">
        <div class="g-layout">
            <a class="global-header-logo" href="{{ baseurl }}/">Kotlin</a>
            {% include 'inc/nav/global-nav.html' %}
        </div>
    </div>

    <div class="g-layout">
        {% if is_index_page %}
            <div class="kotlin-info">
                <div class="kotlin-info-description">
                    针对JVM、Android 和浏览器<br>
                    的静态编程语言
                </div>
                <div class="kotlin-info-description-extra">
                    与 Java™ 100% 可互操作
                </div>
                <a href="http://try.kotlinlang.org" class="get-kotlin-button">
                    试用 Kotlin
                </a>
            <span class="release-banner">
                Kotlin 调查：
                <a class="release-banner__link"
                   href="https://blog.jetbrains.com/kotlin/2016/09/kotlin-census-call-to-action/">
                    填写问卷</a>
            </span>
            </div>
        {% endif %}
    </div>
</header>