<header class="global-header">

    <div class="global-header-panel">
        <div class="g-layout">
            <a class="global-header-logo" href="{{ baseurl }}/">Kotlin</a>
            {% include 'inc/nav/global-nav.html' %}
        </div>
    </div>

    <div class="g-layout">
        {% if is_index_page %}
            <div class="kotlin-info">
                <div class="kotlin-info-description">
                    用于现代多平台应用的<br>
                    静态编程语言
                </div>
                <div class="kotlin-info-description-extra">
                    与 Java™ 和 Android™ 100% 可互操作
                </div>
                <a href="http://try.kotlinlang.org" class="get-kotlin-button">
                    试用 Kotlin
                </a>
            <span class="release-banner" style="color: yellow;">
                慕课网：Kotlin系统入门与进阶教程 上线
                <a class="release-banner__link"
                   href="http://coding.imooc.com/class/108.html">
                    阅读更多</a>
            </span>
            </div>
        {% endif %}
    </div>
</header>
