<header class="global-header">

    <div class="global-header-panel">
        <div class="g-layout">
            <a class="global-header-logo" href="{{ baseurl }}/">Kotlin</a>
            {% include 'inc/nav/global-nav.html' %}
        </div>
        <a class="conference-banner" href="https://kotlinconf.com/?utm_source=kotlinlang&utm_medium=web&utm_campaign=superearlybird">
            <div class="conference-banner__img"></div>
        </a>
    </div>

    <div class="g-layout">
        {% if is_index_page %}
            <div class="kotlin-info">
                <div class="kotlin-info-description">
                    用于现代多平台应用的<br>
                    静态编程语言
                </div>
                <div class="kotlin-info-description-extra">
                    与 Java™ 和 Android™ 100% 可互操作
                </div>
                <a href="http://try.kotlinlang.org" class="get-kotlin-button">
                    试用 Kotlin
                </a>
            <span class="release-banner">
                Kotlin 现在是 Android 官方开发语言了！
                <a class="release-banner__link"
                   href="https://blog.jetbrains.com/kotlin/2017/05/kotlin-on-android-now-official/">
                    阅读更多</a>
            </span>
            </div>
        {% endif %}
    </div>
</header>
